<manifest package="com.example.shopeestockwatcher" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="ShopeeStockWatcher"
        android:supportsRtl="true">

        <activity android:name="com.example.shopeestockwatcher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.shopeestockwatcher.ForegroundCheckService" android:exported="false" />

    </application>
</manifest>
